---
import HelloWorld from "../components/HelloWorld.astro";
import Layout from "../layouts/Layout.astro";
// import Card from "../components/Card.astro";
---

<Layout title="Welcome to Astro.">
	<main>
		<h1>Welcome to <span class="astro-gradient">About</span></h1>
		<HelloWorld < main />
	</main>
</Layout>
